.content_thumbnail img{
    width: 100%;
}

.content_title{
    height: 1.2em;
}

.box{
    width: 100%;
    height: 100%;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}