<md-grid-list [cols]="numcols">
  
  <md-grid-tile
      *ngFor="let video of arr_videos"
      [colspan]="1"
      [rowspan]="1"
      [style.background]="'lightgray'">
      <div class="box" layout="column" [routerLink]="['/watch']" [queryParams]="{v: video.video_id}">
        <div class="content_thumbnail">
          <img alt="{{video.title}}" src="{{video.thumbnail}}"/>
        </div>
        <div class="content_title">
          {{video.title}}
        </div>
      </div>
  </md-grid-tile>
</md-grid-list>