.example-container {
  min-height: 98vh;
  height: 98vh;
  border: 1px solid rgba(0, 0, 0, 0.5);
}

.example-sidenav-content {
  display: flex;
  min-height: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.example-sidenav {
  min-height: 100vh;
  height: 100vh;
  min-width: 200px;
  padding: 20px;
}