/* PUSH MENU */
:host{
    width:100%;
    height:100%;
}

/*#menu-switch {
    display: none;
}*/
#menu {
    position: fixed;
    /*top: 0;*/
    left: -300px;
    width: 300px;
    height: 100%;
    padding: 50px 30px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all .3s ease-in;
    -moz-transition: all .3s ease-in;
    -o-transition: all .3s ease-in;
    transition: all .3s ease-in;
    text-align: center;
    background-color: #fff;
}
#menu .brand {
    height: 51px;
    font-size: 70px;
    font-weight: 900;
    line-height: .6;
    color: #ddd;
}
#menu ul {
    padding: 0;
    margin-top: 30px;
}
#menu ul li a {
    display: block;
    font-weight: 900;
    line-height: 50px;
    /*-webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
    */
    text-decoration: none;
    text-transform: uppercase;
    color: #232629;
    border-top: 1px solid #eee;
}
#menu ul li:last-child a {
    border-bottom: 1px solid #eee;
}
#menu ul li a:hover {
    letter-spacing: 1px;
}
#menu-switch:checked ~ #menu {
    left: 0;
}
/* MAIN PAGE */

.page-wrap {
    width: 100%;
    height: 100%;
    /*padding: 50px;*/
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all .3s ease-in;
    -moz-transition: all .3s ease-in;
    -o-transition: all .3s ease-in;
    transition: all .3s ease-in;
}
#menu-switch:checked ~ .page-wrap {
    margin-left: 300px;
}

/* When menu is enabled */
#menu-switch:checked ~ .page-wrap div{
    width: calc(100% - 300px);
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all .3s ease-in;
    -moz-transition: all .3s ease-in;
    -o-transition: all .3s ease-in;
    transition: all .3s ease-in;
}

#menu-switch:not(:checked) ~ .page-wrap div{
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all .3s ease-in;
    -moz-transition: all .3s ease-in;
    -o-transition: all .3s ease-in;
    transition: all .3s ease-in;
}

/*#menu-switch:checked ~ .page-wrap #menu-toggle {
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}*/
/* CONTENT CONTAINER */

.container {
    width: 100%;
    height: 100%;
}

article{
    width: 100%;
    height: 100%;
}
p {
    text-decoration: line-through;
}
a {
    font-size: .5em;
}