<app-material-sidenav>
    <div sidenav-menu>
        Jolly good!<br/>
        <a [routerLink]="['/v', 'UIyX6tvb0LI']" >Video</a>
    </div>

    <div sidenav-content>
        <app-material-toolbar>
            <button md-icon-button (click)="openChildSidenav()">
                <md-icon>menu</md-icon>
            </button>
            <a [routerLink]="['/']">Logo</a>
            <span class="example-fill-remaining-space"></span>
            Testo2
        </app-material-toolbar>
        <router-outlet></router-outlet>
    </div>
</app-material-sidenav>