<app-material-sidenav>
    <div custom-sidenav-menu>
        Channel list:<br/><br/>
        <a [routerLink]="['channel/Zeb89']">Zeb89</a><br/>
        <a [routerLink]="['channel/ZombieBest']">ZombieBest</a><br/>
        <a [routerLink]="['channel/Quei due sul Server']">QDSS</a><br/>
        <a [routerLink]="['channel/Quei due sul Server 2']">QDSS 2</a><br/>
        <a [routerLink]="['channel/Parliamo di Videogiochi']">PDV</a><br/>
        <a [routerLink]="['channel/yamato animation']">Yamato Animation</a><br/>
        <a [routerLink]="['channel/NoCopyrightSounds']">NoCopyrightSounds</a><br/>
        <a [routerLink]="['channel/SamuX']">SamuX</a><br/>
        <a [routerLink]="['channel/Pyrocynical']">Pyrocynical</a><br/>
        <br/><br/>
        <a href="http://www.youtube.com">Open YouTube instead</a><br/>
        <a href="https://www.youtube.com/html5">YouTube HTML5 settings</a>
    </div>

    <div custom-sidenav-content>
        <app-material-toolbar>
            <button md-icon-button (click)="openChildSidenav()">
                <md-icon>menu</md-icon>
            </button>
            <a [routerLink]="['/']"><b>V</b>i<b>S</b>triker</a>
            <span class="example-fill-remaining-space"></span>&nbsp;&nbsp;[&nbsp;
            <app-input-search-channel></app-input-search-channel>
            &nbsp;]
            <app-video-options-button></app-video-options-button>
        </app-material-toolbar>
        <router-outlet></router-outlet>
    </div>
</app-material-sidenav>