.example-fill-remaining-space {
  flex: 1 1 auto;
}

div[custom-sidenav-menu] a{
  color: #000;
}

div[custom-sidenav-content]{
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow-x: hidden;
  overflow-y: hidden;  
}
