<app-material-sidenav>
    <div sidenav-menu>
        Jolly good!
    </div>

    <div sidenav-content>
        <app-material-toolbar>
            <button md-icon-button (click)="openChildSidenav()">
                <md-icon>menu</md-icon>
            </button>
            Logo
            <span class="example-fill-remaining-space"></span>
            Testo2
        </app-material-toolbar>
        <app-material-content-grid [channel]="channelName"></app-material-content-grid>
    </div>
</app-material-sidenav>